<div class="card">
  <header class="card-header">
    <h3 class="card-header-title title">
      {{  article.title  }}
    </h3>
  </header>

  <div class="card-content">
    <div class="media-content  mgb-medium">
      <p *ngIf="article.author" class="subtitle is-4by3">Author: {{  article.author  }} </p>
    </div>
    <div class="content mgt-large has-text-justified" [innerHTML]="article.description">
    </div>
    <div class="columns">
      <button (click)="addArticleBookmark(article)" class="button is-primary is-rounded">Bookmark article</button>
    </div>
  </div>
</div>
