<div class="card">
  <header class="card-header">
    <p class="card-header-title title">
      {{  bookmark.title  }}
    </p>
  </header>

  <div class="card-content">
    <div class="media-content">
      <p *ngIf="bookmark.author" class="subtitle is-4by3">Author: {{  bookmark.author  }} </p>
    </div>
    <div class="content has-text-justified" style="margin-top: 30px;">
      {{  bookmark.description }}
    </div>
    <div class="columns">
      <button (click)="removeBookmarkedArticle(bookmark)" class="button is-primary is-rounded">Remove article</button>
    </div>
  </div>
</div>
